.contents{
    display: flex;
}

.categories{
    width: fit-content;
    padding: 8px 30px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 5px 15px;
    height: fit-content;
}

.categories:hover{
    cursor: pointer;
}

.selectedCat{
    width: fit-content;
    padding: 8px 30px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 5px 15px;
    height: fit-content;
    background-color: black;
    color: white;
}